/* Disable scrolling for the body */
body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Prevent horizontal scrolling */
    overflow-y: hidden;
    /* Prevent vertical scrolling */
    height: 100%;
}


iframe {
    height: 80vh;
    border: none;
    width: calc(100vw - 200px);
    /* Adjust to account for the left margin */
    margin-left: 200px;
    padding-right: 125px;
}