body {
    font-family:Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E8E8E8;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
}

h1 {
    text-align: center;
    color: #333;;
}

/* Style for the top navigation bar */
.topnav {
    background-color: #999999;
    overflow: hidden;
}

/* Links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style for the active link */
.topnav a.active {
    color: #333333; 
}

/* Style for home page connection bar*/
.checks {
    margin: 20px; 
    padding: 20px;
    border: 1px solid #ddd; 
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#db-status {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
    font-weight: bold;
}

button {
    background-color: #dddada;
    padding: 15px 32px;
    text-align: center;
    font-size: 18px; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
     
}

button:hover {
    background-color: #449248; 
}

#connection-result {
    margin-top: 15px; 
    font-size: 16px;
    color: #555;
}


/* Filter Bar Styling */
.filter-bar {
    background-color: #f8f9fa; 
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

/* Style for the filter labels */
.filter-bar label {
    margin-right: 15px; /* Space between checkboxes */
    font-size: 16px; 
    color: #333; 
    cursor: pointer; 
}

/* Style for the filter checkboxes */
.filter-bar input[type="checkbox"] {
    margin-right: 5px; 
}

/* Style for the "Apply Filters" button */
#apply-filters {
    background-color: #007bff;
    color: #fff; 
    border-radius: 6px; 
    padding: 10px 20px;
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}


.table-container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th, td {
    padding: 15px;
    text-align: center;
}

.table-title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #333;
}

/* Button styling */
.refresh-button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.refresh-button:hover {
    background-color: #45a049;
}
