<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Traffic Map</title>
    <link rel="stylesheet" href="/static/css/main.css">
    
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        #map {
            height: 60vh;
            width: 90vw;
            margin: 20px auto; /
            
        }
        h1 {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Traffic Monitoring Dashboard</h1>

    <div class="topnav">
        <a href="/">Home</a>
        <a href="/traffic_overview">Traffic Overview</a>
        <a class="active"  href="/live_traffic">Live Traffic</a>
        <a href="/traffic_prediction">Traffic Prediction</a>
    </div>

    <div class="filter-bar">
        <label><input type="checkbox" class="data-filter" value="incidents"> Incidents</label>
        <label><input type="checkbox" class="data-filter" value="erp"> ERP</label>
        <label><input type="checkbox" class="data-filter" value="speedbands"> Traffic Speed</label>
        <label><input type="checkbox" class="data-filter" value="images"> Traffic Camera</label>
        <label><input type="checkbox" class="data-filter" value="vms"> VMS</label>
        <button id="apply-filters">Apply Filter</button>
    </div>

    <div id="map">
        {{ map_html|safe }}  
    </div>

    <div container>
        <!-- notification box -->
    </div>

    <script>
        document.getElementById('apply-filters').addEventListener('click', function() {
            const selectedFilters = Array.from(document.querySelectorAll('.data-filter:checked'))
                .map(checkbox => checkbox.value);
    
            // Construct the query string from selected filters
            const queryString = selectedFilters.length > 0 
                ? `filters=${selectedFilters.join(',')}` 
                : '';
    
            // Redirect to the live_traffic route with the query string
            window.location.href = `/live_traffic?${queryString}`;
        });
    
        window.addEventListener('load', function() {
            const params = new URLSearchParams(window.location.search);
            const filters = params.get('filters');
    
            if (filters) {
                const filterArray = filters.split(',');
                filterArray.forEach(filter => {
                    const checkbox = document.querySelector(`.data-filter[value="${filter}"]`);
                    if (checkbox) {
                        checkbox.checked = true;
                    }
                });
            }
        });
    </script>
</body>
</html>
