<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traffic Monitoring Dashboard</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">-->

    <script>
        function checkConnection() {
            fetch('/check-connection')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('connection-result').innerText = data;
                })
                .catch(error => {
                    document.getElementById('connection-result').innerText = 'Error checking connection';
                    console.error('Error:', error);
                });
        }
    </script>

</head>
<body>
    <h1>Traffic Monitoring Dashboard</h1>

    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/traffic_overview">Traffic Overview</a>
        <a href="/live_traffic">Live Traffic</a>
        <a href="/traffic_prediction">Traffic Prediction</a>
    </div>

    <div class = "checks">
        <!-- A simple display for testing -->
        <div id="db-status">PostgreSQL Connection:</div>
        <button onclick="checkConnection()">Check PostgreSQL Connection</button>
        <div id="connection-result"></div>
    </div>
</body>
</html>
