<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/navbar.css"><!-- Link to the new CSS file -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/propellerkit/1.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/propellerkit/1.3.1/css/propeller.min.css">

<body>
    <nav class="navbar navbar-light bg-dark d-flex mb-0 ">
        <div class="logo d-flex align-items-center">
            <i class="fas fa-traffic-light"></i>
            <h4 class="text-white" style=" margin: 0;">Traffic App</h4>
        </div>
    </nav>

    <div class="sidebar bg-dark">
        <div class="sidebar-content">
            <ul>
                <ul class="nav-list">
                    <li>
                        <a class="nav-link {% if request.path == '/traffic_overview' %}active{% endif %}"
                            href="/traffic_overview">
                            <i class="fas fa-home" style="font-size: 1.5rem;"></i>
                            <span class="menu-text ml-2">Traffic Overview</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link {% if request.path == '/live_traffic' %}active{% endif %}"
                            href="/live_traffic">
                            <i class="fas fa-car" style="font-size: 1.5rem; margin-right:13px"></i>
                            <span class="menu-text ml-2">Live Traffic</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link {% if request.path == '/traffic_insight' %}active{% endif %}"
                            href="/traffic_insight">
                            <i class="fas fa-chart-bar" style="font-size: 1.5rem;"></i>
                            <span class="menu-text ml-2">Traffic Insights</span>
                        </a>
                    </li>

                    <li>
                        <a class="nav-link" href="http://34.1.133.197:8080" target="_blank">
                            <i class="fas fa-tasks" style="font-size: 1.5rem;"></i>
                            <span class="menu-text ml-2">Manage Pipeline</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="http://34.1.133.197/grafana_airflow_dashboard" target="_blank">
                            <i class="fas fa-chart-line" style="font-size: 1.5rem;"></i>
                            <span class="menu-text ml-2">Pipeline Monitoring</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="http://34.1.133.197/grafana_docker_dashboard" target="_blank">
                            <i class="fas fa-server" style="font-size: 1.5rem;"></i>
                            <span class="menu-text ml-2">Container Monitoring</span>
                        </a>
                    </li>
                </ul>
            </ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</body>
<script>

</script>

</html>